$theme-blue: #1E1DCD;
$theme-green: #477138;
$theme-yellow: #DCBC4D;
$theme-purple: #6227AD;
$theme-maroon: #9F2458;
$theme-black: #312A2D;
$theme-beige: #EFE6D8;
$theme-dark-blue: #11109c;
$theme-dark-yellow: #a98d2e;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');

@font-face {
  font-family: Cognace;
  src: url("fonts/Cognace-Regular.otf") format('opentype');
}

body {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 24px !important;
  background-color: $theme-beige !important;
}


h1 {
  font-family: 'Cognace';
  font-size: 4.5rem !important;
  line-height: 1.0 !important;
}

a {
  color: $theme-black !important;
  font-size: 1.25rem;
  font-weight: bold;
}

a:hover,
a:focus {
  color: $theme-blue !important;
}

.h2-cognace {
  font-family: 'Cognace';
  font-size: calc(2.75rem + (4 * (100vw - 360px)) / 407) !important;
}

.h3-cognace {
  font-family: 'Cognace';
  font-size: calc(2.25rem + (4 * (100vw - 360px)) / 407) !important;
}

.h4-cognace {
  font-family: 'Cognace';
  font-size: calc(1.75rem + (4 * (100vw - 360px)) / 407) !important;
}

.h4-secondary{
  font-family: 'Open Sans';
  font-size: 1.5rem !important;
  font-weight: bold
}

h2 {
  font-size: 2.5rem !important;
}

.swash {
  font-feature-settings: 'swsh'
}
.ss-n {
  font-feature-settings: 'ss03'
}
.ss-h {
  font-feature-settings: 'ss01'
}
.ss-v {
  font-feature-settings: 'ss06'
}
.step-subtitle {
  font-size: 14px;
  text-align: 'center';
  font-weight: bold;
  display: flex;
  margin: auto;
  justify-content: center;
}
.step-title {
  color: $theme-blue;
}
.plant-pack-row {
  padding-top: 4em;
  padding-bottom: 4em;
}

.plant-pack-row-yellow{
  background-color: $theme-yellow;
  color: $theme-black;
  position: relative;
  background: url('./images/plantpackyellow.png') no-repeat;
  background-size: cover;
  padding-bottom: 6em;
  z-index: 500;
  margin-top: -8em;
}

.neverland-divider {
  width: 100%;
}

.neverland-icon {
  color: $theme-black;
  width: 35px;
  margin-left: 8px;
  margin-right: 8px;
}

.footer-logo {
  max-width: 125px;
  max-height: 134px;
  margin-right: 2em;
}
.footer-nav {
  display: flex;
  flex-direction: column;
}
.plant-pack-row-green {
  background-color: $theme-green;
  color: $theme-beige;
  position: relative;
  background: url('./images/plantpackgreen.png') no-repeat;
  background-size: cover;
  padding-bottom: 6em;
  z-index: 200;
  margin-top: -8em;
  padding-top: 6em;
  padding-bottom: 6em;
}
.plant-pack-row-maroon {
  background-color: $theme-maroon;
  color: $theme-beige;
  position: relative;
  background: url('./images/plantpackmaroon.png') no-repeat;
  background-size: cover;
  padding-bottom: 6em;
  z-index: 600;
  padding-top: 6em;
  padding-bottom: 6em;
}

.plant-pack-row-blue {
  z-index:1000;
  background-color: $theme-blue;
  position: relative;
  color: $theme-beige;
  background: url('./images/plantpackblue.png') no-repeat;
  background-size: cover;
  padding-bottom: 6em;
}
.chairplant_small {
  display: none;
}
.neverland-header-nav {
  display: flex; 
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  margin-right: 4em;
}
.neverland-input-referral {
  border: 4px solid $theme-blue;
  border-radius: 8px;
  background-color: $theme-beige;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  max-width: 400px;
  width: 100%;
  font-size: 18px;

  &:focus {
    outline: none;
  }

  &::placeholder {
     color: $theme-black;
     font-size: 18px;
     padding: 8px;
  }
}

.neverland-input-yellow,
.neverland-input-footer,
.neverland-input {
  border: 4px solid $theme-blue;
  border-radius: 8px;
  background-color: transparent;
  padding-top:8px;
  padding-bottom: 8px;
  padding-left: 8px;

  &::placeholder {
     color: $theme-blue;
     font-weight: bold;
     font-size: 18px;
     padding: 8px;
  }

  &:focus {
    outline: none;
  }

  &::placeholder {
     color: $theme-blue;
     font-size: 18px;
     padding: 8px;
  }
}
.neverland-input-footer,
.neverland-input-yellow {
  border: 4px solid $theme-yellow;
  &::placeholder {
     color: $theme-yellow;
   }
}

.neverland-input-footer {
  &::placeholder {
    color: $theme-yellow;
    font-weight: bold
  }
  &:focus {
    color: $theme-yellow;
    font-weight: bold;
  }
}

.neverland-button-yellow {
  background-color: $theme-yellow;
  color: $theme-blue;
  border: 2px solid $theme-yellow;
  font-weight: bold;
  height: 58px;
  margin: 4px; 
  font-size: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  cursor: url("images/cloud_cursor.png"), auto !important;
  border-radius: 8px;
}

.neverland-button-lg {
  padding-top: 16px;
  padding-bottom: 16px;
}
.neverland-button-black,
.neverland-button {
  background-color: $theme-blue;
  border: 2px solid $theme-blue;
  color: $theme-beige;
  font-weight: bold;
  height: 58px;
  margin: 4px;
  font-size: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 8px;
  cursor: url("images/cloud_cursor.png"), auto !important;
}

.neverland-button:active,
.neverland-button:hover {
  background-color: $theme-dark-blue;
  border: 2px solid $theme-dark-blue;
  cursor: url("images/cloud_cursor.png"), auto !important;
}
.neverland-button-yellow:active,
.neverland-button-yellow:hover {
  background-color: $theme-dark-yellow;
  border: 2px solid $theme-dark-yellow;
  cursor: url("images/cloud_cursor.png"), auto !important;
}
.neverland-button-black {
  background-color: $theme-black;
  border: 2px solid $theme-black;
}
.our-story-parent-container {
  margin-top: -4em;
  background-color: $theme-yellow;
  padding: 4em;
}
.our-story-container {
  margin: auto;
  max-width: 800px
}
.our-story-monologo {
  max-width: 300px;
  margin: auto;
  display: flex;
}
.row-nmc,
.row-nm {
  display: flex;
  flex-wrap: wrap;
}
.row-nmc {
  justify-content: center
}
.romaine-calm-container {
  margin: auto;
  padding-left: '2em' !important;
  max-width: 500px;
}
.neverland-paintbrush {
  width: 40%;
}
.guarantee-container {
      max-width: 600px;
    margin: auto;
    border: 8px solid $theme-black;
    padding: 4em;
    border-radius: 50%;
}
.header {
}
.header-bg-yellow {
  background-color: $theme-yellow;
}
.header-bg-beige {
  background-color: $theme-beige;
}
.neverland-header {
 // background: url('/images/neverlandheader.png') no-repeat;
 // height: 120vh;
  //background-size: 100%;
  height : 110vh
}
.cloud_two {
  position: absolute;
  height: 20vh;
  left: 55vw;
  top: 20vw;
  animation: float_two 6s ease-in-out infinite;
  z-index:100
}
.step-pick {
  height: 250px;
  display: flex;
  margin: auto;
}
.door {
  position: absolute;
  height: 60vh;
  top: 20vh;
  left: 50vw;
}
.chairplant {
  position: absolute;
  height: 50vh; 
  right: 0;
  top: 35vh;
  z-index: 150
}
.mist {
  position: absolute;
  top: 60%;
  right: 0%;
  height: 40vh;
  animation: float_hor 15s ease-in-out infinite;

}
.cloud {
  height: 10vw;
  position: absolute;
  top: 80%;
  right: 0;
  z-index: 300;
  animation: float 6s ease-in-out infinite;
}
@keyframes float_two {
  0% {
    transform: translatey(0px) translatex(0px);
  }
  50% {
    transform: translatey(-20px) translatex(20px);
  }
  75% {
    transform: translatey(10px) translatex(-10px);
  }
  100% {
    transform: translatey(0px) translatex(0px);
  }
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes float_hor {
  0% {
    transform: translatex(0px);
  }
  50% {
    transform: translatex(-10vw);
  }
  100% {
    transform: translatex(0px);
  }
}

.neverland-header-container {
  display: flex;
  max-width: 40vw;
  flex-direction: column;
  justify-content: center;
  margin-left: 2em;
}
.neverland-header-img {
      width: 100%;
    position: absolute;
    z-index: -1000;
}

.padding-right {
  padding-right: 4em !important;
}

.padding-left {
  padding-left: 4em !important;
}

.waitlist-hero {
  display: flex;
  width: 50%;
  margin: auto;
}

.waitlist-status-container {
  margin-top: 4em;
  margin-bottom: 4em;
  text-align: center
}

.waitlist-referral-rewards {
  text-align: center;
}

.referral-rewards-number {
  width: 75px;
}

.waitlist-referral-reward-info {
  margin: 4em;
}

.referral-rewards-desc {
  margin-top: 1em
}

.padding-left-small {
  padding-left: 0em !important;

}

.graphics {

}
.mobile-menu {
  display: none;
}

.desktop-menu {
  display: flex;
}
.display-desktop {
  display: block;
}
.display-mobile {
  display: none;
}
.mobile-menu-logo-container {
  text-align: center;
}
.mobile-menu-logo {
  width: 100px;
}

.mobile-nav-logo {
  width: 70px;
  height: 78px;
}

.footer {
  margin: 4em;
  color: $theme-yellow !important;

  a {
    color: $theme-yellow !important;

    &:hover,
    &:focus,
    &:active {
      color: $theme-dark-yellow!important;
    }
  }

}

.footer-container {
  background-color: $theme-blue;
  display: flex;
  flex-direction: column;
  padding-top: 2em;
}

.faq-section {
  padding-left: 2em;
  margin-top: 4em;
}

.faq-contact-section {
  margin-top: 4.5em;
  padding-right: 2em;
}

.faq-contact-title,
.faq-section-title {
  border-bottom:6px solid $theme-black;
  padding-bottom: 8px;
}

.accordion {
  background: transparent;

  > .card {
    background: transparent;
    border: none;
    .accordion-title-container {
      display: flex;
      justify-content: space-between;
    }

    > .card-header {
      background: transparent;
      border-bottom: 2px solid black;

      .question {
        font-weight: bold;
      }
    }
  }
}
.sticky {
  position: fixed;
  top: 0;
  width: 100vw;
}

.guarantee {
  position: relative;
  overflow: auto;
  height: 100%;
  overflow: auto;
  padding-bottom: 2em;
}

.faq-container {
  padding-bottom: 4em;
}

.green-bold {
  font-weight: bold;
  color: $theme-green;
}

@media (max-width: 900px){
  body {
    font-size: calc(1.25rem + (4 * (100vw - 360px)) / 407);
  }
  li {
    line-height: 1.15;
    font-size: calc(1.25rem + (4 * (100vw - 360px)) / 407) !important;
  }
  p {
    line-height: 1.15;
    font-size: calc(1.25rem + (4 * (100vw - 360px)) / 407) !important;
  }

  h1 {
    font-size: calc(3.25rem + (4 * (100vw - 360px)) / 407) !important;
  }

  h2 {
    font-size: calc(2.25rem + (4 * (100vw - 360px)) / 407) !important;
  }

  h3 {
    font-size: calc(1.75rem + (4 * (100vw - 360px)) / 407) !important;
  }

  .our-story-parent-container {
    margin-top: -4em;
    background-color: $theme-yellow;
    padding: 2em;
    padding-top: 4em;
  }
  .mobile-menu {
    display: block;
  }
  .plant-container-blue {
    padding-bottom: 8em;
  }
  .plant-container-yellow {
    margin-top: -12.5em;
  }
  .neverland-header {
    height: 120vh;
  }
  .neverland-he 0ader-img {
    width: 100%;
  }

.faq-section {
    padding-left: .5em;
    padding-right: .5em;
  }
.display-desktop {
  display: none;
}
.display-mobile {
  display: block;
}

.footer-logo {
  max-width: 70px;
  max-height: 78px;
  margin-right: 2em;
}
  .footer {
    margin: 1em;
  }
    .neverland-header {
    background-color: $theme-yellow;
  }
  .desktop-menu {
    display: none;
  } 

  .neverland-header-container {
    max-width: 80vw;
  }
  .cloud_two {
    position: absolute;
    height: 10vh;
    left: 35vw;
    top: 75vh;
    right: 0;
    z-index: 100;
  }
  .mist {

  }
  .chairplant {

  } 
  .chairplant_small {
    display: flex;
    position: absolute;
    width: 85vw;
    z-index:100;
    top: 85vh;
    right: 0;
  }

  .door {
    z-index: 10;
    height: 40vh;
    top: 75vh;
    left: 10vw;
  }
  .chairplant, 
  .cloud {
    display: none;
  }
  .padding-left {
    padding-left: 1.35em !important;
  }

  .padding-left-small {
    padding-left: 1.35em !important;
  }

  .padding-right {
    padding-right: 1.35em !important;
  }

  .neverland-paintbrush {
    width: 70%;
  }

  .neverland-input {
    width: 100%;
  }
}

@media(min-width:1200px) {
  body {
    font-size: calc(1.25em + (8 * (100vw - 1440px)) / 1119) !important;
  }
  p {
    font-size: calc(1.25rem + (8 * (100vw - 1440px)) / 1119) !important;
    line-height: 1.15;
  }
  li {
    font-size: calc(1.25rem + (8 * (100vw - 1440px)) / 1119) !important;
    line-height: 1.15;
  }

  h1 {
    font-size: calc(4.0rem + (8 * (100vw - 1440px)) / 1119) !important;
  }

  h2 {
    font-size: calc(3.5rem + (8 * (100vw - 1440px)) / 1119) !important;
  }

  h3 {
    font-size: calc(2.5rem + (8 * (100vw - 1440px)) / 1119) !important;
  }
  .neverland-header-img {
    width: 100%;
  }
}

@media(min-width:1400px) and (max-width:1800px) {
  .neverland-header {
    height: 125vh;
  }

}

@media(min-width:1800px) {
  .neverland-header {
    height: 140vh;
  }
}